@use "variables";

// =======================
// Mixins
// =======================

@mixin border-radius($radius: variables.$radius) {
	border-radius: $radius;

	@supports (corner-shape: squircle) {
		/* stylelint-disable-next-line no-invalid-position-declaration */
		corner-shape: squircle;
		/* stylelint-disable-next-line no-invalid-position-declaration */
		border-radius: $radius * 5;
	}
}

@mixin form-control {
	width: 100%;
	padding: 0.375rem;
	transition: all 120ms ease;
	border: 1px solid variables.$color-border;
	outline: none;
	color: inherit;
	font-size: 0.825rem;

	@include border-radius;
}

@mixin truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
