@use "../variables";
@use "../mixins";

.nia-command-button {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	padding: 0.5rem 0.75rem;
	overflow: hidden;
	transition: all 120ms ease;
	border: 1px solid variables.$color-border;
	border-radius: variables.$radius;
	background-color: #fff;
	background-image: linear-gradient(
		-180deg,
		rgb(255 255 255 / 9%) 0%,
		rgb(17 17 17 / 4%) 100%
	);
	color: #000;
	font-size: variables.$font-size-command;
	font-weight: 500;
	text-align: left;
	cursor: pointer;
	gap: 0.55rem;

	@include mixins.border-radius;

	&:hover {
		border: 1px solid variables.$color-border;
		background-image: linear-gradient(
			-180deg,
			rgb(255 255 255 / 18%) 0%,
			rgb(17 17 17 / 8%) 100%
		);
		color: #111;
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 10px 15px -3px rgba(variables.$color-bg, 0.1), 0 4px 6px -4px rgba(variables.$color-bg, 0.1);
	}
}

.nia-command-text {
	flex: 1 1 auto;
	overflow: hidden;
	font-family: var(--code, variables.$font-code);
	text-overflow: ellipsis;
	white-space: nowrap;
}
