@use "../mixins";
@use "../variables";

.nia-controls {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 0.6rem;
	margin-bottom: 0.875rem;
}

.nia-field {
	display: flex;
	flex-direction: column;
	gap: 0.15rem;
}

.nia-label {
	color: rgba(variables.$color-muted, 0.98);
	font-size: 0.825rem;
	font-weight: 500;
}

.nia-select,
.nia-input {
	@include mixins.form-control;

	&:focus-visible {
		border-color: variables.$color-primary;
		box-shadow: 0 0 0 1px rgba(variables.$color-primary, 0.7);
	}

	&:disabled {
		opacity: 0.65;
		background-color: rgba(variables.$color-bg, 0.15);
		cursor: progress;
	}
}

.nia-checkbox-toggle-container {
	position: relative;
}

.nia-checkbox-toggle-input {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0;
}

.nia-checkbox-toggle {
	display: inline-block;
	position: relative;
	width: 3rem;
	height: 1.5rem;
	transition: background-color 0.2s;
	background-color: rgba(variables.$color-muted, 0.3);

	@include mixins.border-radius;

	&::before {
		content: "";
		position: absolute;
		top: 0.125rem;
		left: 0.125rem;
		width: 1.25rem;
		height: 1.25rem;
		transition: transform 0.2s;
		background-color: #fff;
		box-shadow: 0 1px 3px rgba(variables.$color-bg, 0.4);

		@include mixins.border-radius;
	}

	input[type="checkbox"]:checked + & {
		background-color: variables.$color-bg;

		&::before {
			transform: translateX(1.375rem);
		}
	}

	input[type="checkbox"]:disabled + & {
		background-color: rgba(variables.$color-muted, 0.15);

		&::before {
			background-color: rgba(variables.$color-bg, 0.5);
			box-shadow: none;
		}
	}
}
