@use "../variables";
@use "../mixins";

.nia-copy-icon {
	display: inline-flex;
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
	transition:
		background-color 140ms ease,
		color 140ms ease,
		transform 120ms ease,
		box-shadow 140ms ease;
	background-color: variables.$color-copy-bg;
	color: variables.$color-copy-foreground;

	@include mixins.border-radius;

	&--active {
		transform: scale(1.01);
		background-color: variables.$color-success;
		color: #ecfdf5;
	}

	svg {
		display: block;
	}
}
